{% extends "base.html" %}

{% block content %}

<head>    
  <meta charset="utf-8">    
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">  
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<table class="table table-condensed" style="margin-top: 70px; margin-left: 50px; width: 90%;">
  <tr>
    <td rowspan="8" width="50%"><img src="{{ url_for('static', filename='img/house.jpg') }}" alt="house" width="600px"
        height="400px" class="img-rounded" /></td>
    <td colspan="2" style="vertical-align: top; padding-left: 20px; height: 30%;">
      <h2 style="color: red;"><strong>¥4,150,000.00</strong></h2>
      <p style="color: darkgray; font-size: 15px;">¥31680/sq metres</p>
    </td>
  </tr>
  <tr>
    <td style="padding-left: 20px;">Living Room(s):</td>
    <td width="20%"><b>2</b></td>
  </tr>
  <tr class="active">
    <td style="padding-left: 20px;">Building Type:</td>
    <td width="20%"><b>Tower</b></td>
  </tr>
  <tr>
    <td style="padding-left: 20px;">Square:</td>
    <td width="20%"><b>131 sq metres</b></td>
  </tr>
  <tr class="active">
    <td style="padding-left: 20px;">Floor:</td>
    <td width="20%"><b>26</b></td>
  </tr>
  <tr>
    <td style="padding-left: 20px;">Elevator:</td>
    <td width="20%"><b>has elevator</b></td>
  </tr>
  <tr class="active">
    <td style="padding-left: 20px;">Renovation Type:</td>
    <td width="20%"><b>Simplicity</b></td>
  </tr>
  <tr>
    <td style="padding-left: 20px;">Construct Time:</td>
    <td width="20%"><b>2005</b></td>
  </tr>
</table>
<div style="margin: 30px 50px 30px 50px;">

  <h1>Details</h1>
  <hr>
  <ul>
    <li>Total Price: ¥4,150,000.00</li>
    <li>Price: ¥31,680/sq metres</li>
    <li>Square: 131 sq metres</li>
    <li>LivingRoom: 2</li>
    <li>DrawingRoom: 1</li>
    <li>Kitchen: 1</li>
    <li>Bathroom: 1</li>
    <li>Floor: 26</li>
    <li>Building Type: Tower</li>
    <li>Construction Time: 2005</li>
    <li>Renovation Condition: Simplicity </li>
    <li>Building Structure: Steel-concrete composite</li>
  </ul>

  <h1>Recommendation</h1>
  <hr>
  <ul>
    <li>Housing features: good location, low total price, convenient transportation around. This house is wider than the
      same area of the house, the sense of space is more open, living feeling more comfortable.</li>
    <li>Community environment: the community is well closed, green rate is high, there is a square for everyone to
      leisure and entertainment. There are supermarkets, laundries, nail salons and beauty salons around the community.
      Surrounding shopping malls and hospitals, convenient travel.</li>
  </ul>
  <h1>Comments</h1>
  <hr>
  <ul>
    <li>UserA <br>
      It's a very nice apartment. When could I go and see it in person?
    </li>
    <li>UserB <br>
      Could you please upload more pictures?
    </li>
    <li>UserC <br>
      How is the sound insulation of this house?
    </li>
  </ul>
  <div class="panel-group" id="accordion" style="margin-top: 20px;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#Comments">
            <b>Write Comments</b>
          </a>
        </h4>
      </div>
      <div id="Comments" class="panel-collapse collapse">
        <div class="panel-body">
          {% if user %}
            <form action="" method="post" novalidate>
              {{ form.hidden_tag() }}
              <p>
                {{ form.comment.label }}<br>
                {{ form.comment(rows=8, cols=80, class="form-control") }}

                {% for error in form.comment.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </p>
              <p align="right">{{ form.submit(class="btn btn-defult") }}</p>
          {% else %}
            <p><b>You have to log in to comment</b></p><br>
            <p><span>Already have an account?</span>
            <a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span>  Log in</a></p><br>
            <p><span>Create an account? </span>
            <a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span>  Register</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
