{% extends "base.html" %}

{% block content %}
  <table>
    <tr>
      <td rowspan="3"><img src="{{ url_for('static', filename='img/house.jpg') }}" alt="house" width = "600px" height="400px" /></td>
      <td colspan=“2”><h1 style="color: red;">¥4,150,000.00</h1></td>
      <td>¥31680/sq metres</td>
    </tr>
    <tr>
      <td><hr>Living Room(s): <b>2</b></td>
      <td><hr>Building Type: <b>Tower</b></td>
      <td><hr>Square: <b>131 sq metres</b></td>
    </tr>
    <tr>
      <td><hr>Floor: <b>26</b> / <b>has elevator</b></td>
      <td><hr>Renovation Type: <b>Simplicity</b></td>
      <td><hr>Construct Time: <b>2005</b></td>
    </tr>
  </table>
  <h1>Details</h1>
  <hr>
  <ul>
    <li>Total Price: ¥4,150,000.00</li>
    <li>Price: ¥31680/sq metres</li>
    <li>Square: 131 sq metres</li>
    <li>LivingRoom: 2</li>
    <li>DrawingRoom: 1</li>
    <li>Kitchen: 1</li>
    <li>Bathroom: 1</li>
    <li>Floor: 26</li>
    <li>Building Type: Tower</li>
    <li>Construction Time: 2005</li>
    <li>Renovation Condition: Simplicity </li>
    <li>Building Structure: Steel-concrete composite</li>
  </ul>
  <h1>Recommendation</h1>
  <hr>
  <ul>
    <li>Housing features: good location, low total price, convenient transportation around. This house is wider than the same area of the house, the sense of space is more open, living feeling more comfortable.</li>
    <li>Community environment: the community is well closed, green rate is high, there is a square for everyone to leisure and entertainment. There are supermarkets, laundries, nail salons and beauty salons around the community. Surrounding shopping malls and hospitals, convenient travel.</li>
  </ul>
  <h1>Pictures</h1>
  <hr>
  <img src="{{ url_for('static', filename='img/house.jpg') }}" alt="house" width = "800px" height="600px" /></td>
  <h1>Comments</h1>
  <hr>
  <ul>
    <li>UserA <br>
      It's a very nice apartment. When could I go and see it in person?
    </li>
    <li>UserB <br>
      Could you please upload more pictures?
    </li>
    <li>UserC <br>
      How is the sound insulation of this house?
    </li>
  </ul>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.comment.label }}<br>
      {{ form.comment(rows=8, cols=80) }}

      {% for error in form.comment.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
{% endblock %}
