{% extends "base.html" %}

{% block content %}

<head>    
  <meta charset="utf-8">    
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">  
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<br><br>
<h1> My Predictions </h1>
<p> Add a new prediction? <a href="{{ url_for('predict') }}"><span class="glyphicon glyphicon-stats"></span>  Predict</a></p>

<div class="panel-group" id="accordion" style="margin-top: 20px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Processing">
          <b>In the Processing</b>
        </a>
      </h4>
    </div>
    <div id="Processing" class="panel-collapse collapse">
      <div class="panel-body">
        <table border="2px" width="600" height="100">

          {% if houses %}
            {% for house in houses %}
              {% if house.status == 0 %}
                <tr>
                  <td> {{ house.id }}</td>
                  <td> {{ house.date }}</td>
                  <td><a href="{{ url_for('details',house_id=house.id) }}"><button type="button" name="button">View</button></a></td>
                  <td><button type="button" name="button">Cancel</button></td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
        </table>
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="accordion" style="margin-top: 20px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Completed">
          <b>Completed</b>
        </a>
      </h4>
    </div>
    <div id="Completed" class="panel-collapse collapse">
      <div class="panel-body">
        <table border="2px" width="600" height="100">
          <tr>
            <th> House ID</th>
            <th> Date </th>
            <th> View </th>
            <th> Upload</th>
          </tr>

          {% if houses %}
            {% for house in houses %}
              {% if house.status == 1 %}
                <tr>
                  <td> {{ house.id }}</td>
                  <td> {{ house.date }}</td>
                  <td><button type="button" name="button">View</button></td>
                  <td><button type="button" name="button">Upload</button></td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
        </table>
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="accordion" style="margin-top: 20px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Uploaded">
          <b>Uploaded</b>
        </a>
      </h4>
    </div>
    <div id="Uploaded" class="panel-collapse collapse">
      <div class="panel-body">
        <table border="2px" width="600" height="100">
          <tr>
            <th> House ID</th>
            <th> Date </th>
            <th> View </th>
            <th> Delete</th>
          </tr>

          {% if houses %}
            {% for house in houses %}
              {% if house.status == 2 %}
                <tr>
                  <td> {{ house.id }}</td>
                  <td> {{ house.date }}</td>
                  <td><button type="button" name="button">View</button></td>
                  <td><button type="button" name="button">Delete</button></td>
                </tr>
              {% endif %}
            {% endfor %}
          {% endif %}
        </table>
      </div>
    </div>
  </div>
</div>



{% endblock %}
