{% extends "base.html" %}

{% block content %}


<div style="margin-top: 80px; margin-left: 40px;" >
<h1> Predict Your House Price</h1>
<hr>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>{{ form.lng.label }} (if available): {{ form.lng() }}</p>
    <p>{{ form.lat.label }} (if available): {{ form.lat() }}</p>
    <p>{{ form.square.label }}: {{ form.square }}
      {% for error in form.square.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.living_room.label }}: {{ form.living_room() }}
      {% for error in form.living_room.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.drawing_room.label }}: {{ form.drawing_room() }}
      {% for error in form.drawing_room.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.kitchen.label }}: {{ form.kitchen() }}
      {% for error in form.kitchen.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.bathroom.label }}: {{ form.bathroom() }}
      {% for error in form.bathroom.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.floor.label }}: {{ form.floor() }}
      {% for error in form.floor.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.building_type.label }}: {{ form.building_type() }}</p>
    <p>{{ form.renovation_con.label }}: {{ form.renovation_con() }}</p>
    <p>{{ form.elevator.label }}: {{ form.elevator() }}</p>
    <p>{{ form.subway.label }}: {{ form.subway() }}</p>
    <p>{{ form.district.label }}: {{ form.district() }}
      {% for error in form.district.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    {% if user %}
      <p>{{ form.submit() }}</p>
    {% else %}
      <p style="color: red; "><b>You have to log in to predict</b></p><br>
      <p><span>Already have an account?</span>
        <a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-user"></span> Log in</a>
      </p><br>
      <p><span>Create an account? </span>
        <a href="{{ url_for('signup') }}"><span class="glyphicon glyphicon-user"></span> Register</a>
      </p>
    {% endif %}
</form>
</div>

   
{% endblock %}
