{% extends "base.html" %}

{% block content %}
<head>    
    <meta charset="utf-8">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<div style="margin-top: 150px;" align="center">
    <h1><b>Register</b></h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p style="margin-top: 20px;">
                <div class="input-group" style="width: 30%; margin-top: 30px;">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    {{ form.username(size=32, class_="form-control", placeholder="user name") }}
                </div>
    			</p>
    			{% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
    			
            </p>
    		<p>
                <div class="input-group" style="width: 30%; margin-top: 20px;">
                    <span class="input-group-addon"><b>@</b></span>
                    {{ form.email(size=35, class_="form-control", placeholder="email address") }}
                </div>
    			{% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
    			
            </p>
            <p>
                <div class="input-group" style="width: 30%; margin-top: 20px;">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    {{ form.password(size=32, class_="form-control", placeholder="password") }}
                </div>
    			
    			{% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
    			
            </p>
    		<p>
                <div class="input-group" style="width: 30%; margin-top: 20px;">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    {{ form.password2(size=32, class_="form-control", placeholder="password for check") }}
                </div>
    			
    			{% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

            </p>
            <table width="30%" style="margin-top: 20px;">
                <tr>
                    <td><p>{{ form.submit(class="btn btn-defult btn-block", width="100%") }}</p></td>
                </tr>
            </table>
            
        </form>
    </div>
{% endblock %}
