{% extends "base.html" %}

{% block content %}
<!-- user_id != visitor_id -->
<div style="margin-top: 30px;background-image: url(../static/img/banner.jpg);height: 300px;width: 100%;background-size: cover;opacity: 0.6;position:relative;">
</div>
<div style="position:absolute; width:100%; height:200px;top:60px;text-align: center;">
  <table style="width: 100%;margin-top: 35px;" align="center">
    <tr>
      <td align="center"><img src="../static/img/user.png" class="img-circle" style="width: 150px;height: 150px;"></td>
    </tr>
    <tr>
      <td align="center"><h1> {{ user.username }}</h1></td>
    </tr>
    <tr>
      <td align="right" style="padding-right: 20px;">
        <button class="btn btn-link btn-xs"><span class="glyphicon glyphicon-picture"></span>&nbsp;Edit background</button>
      </td>
    </tr>

  </table>

  
</div>
<br><br>
<h1> {{ user.username }}</h1>
<hr>

<h2>Houses</h2>
  {% if user.house %}
    <ul>
    {% for h in user.house %}
      {% if h.status==2 %}
        <li><a href="{{ url_for('details', house_id=h.id) }} ">{{ h.id }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% else %}
    <p>It seems that he/she has not uploaded any house :( </p>
  {% endif %}

<h2>Favorites</h2>
  {% if user.favorite %}
    <ul>
    {% for f in user.favorite %}
      <li><a href="{{ url_for('details', house_id=f.house_id) }} ">{{ f.house_id }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>It seems that he/she does not have favorite houses :( </p>
  {% endif %}

<h2>Comments</h2>
  {% if user.comment %}
    <ul>
    {% for c in user.comment %}
      <li><a href="{{ url_for('details', house_id=c.house_id)}}">{{ c }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>It seems that he/she does not reply anyone :(</p>
  {% endif %}

{% endblock %}
